<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="firstapp.com.neelapp">

    <application
        android:allowBackup="true"
        android:allowTaskReparenting="false"
        android:icon="@drawable/neelicon"
        android:label="NeelApp"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewDetails" />
        <activity android:name=".EnterDetails" />
        <activity android:name=".ViewResult" />
        <activity android:name=".SearchById" />

        <activity android:name=".search_by_name" />
        <activity android:name=".search_by_chasis" />
        <activity android:name=".ViewNameResult" />
        <activity android:name=".ViewIdResult" />
        <activity android:name=".ViewChasisResult" />

    </application>

</manifest>